@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #0b0f1a;
  color: white;
}

/* NAV */
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 80px;
  align-items: center;
}

nav h1 {
  color: #7c5cff;
}

nav ul {
  display: flex;
  gap: 25px;
  list-style: none;
}

nav ul li a {
  color: #ccc;
  text-decoration: none;
}

nav ul li a:hover {
  color: #7c5cff;
}

/* HERO */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px;
}

.hero-text h2 {
  font-size: 48px;
}

.hero-text span {
  color: #7c5cff;
}

.hero-text p {
  margin-top: 15px;
  color: #aaa;
  max-width: 500px;
}

.btn {
  margin-top: 20px;
  display: inline-block;
  padding: 10px 20px;
  background: #7c5cff;
  color: white;
  border-radius: 8px;
  text-decoration: none;
}

/* CARD */
.section {
  padding: 60px 80px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card {
  background: #141a2a;
  padding: 20px;
  border-radius: 12px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

/* CONTACT */
input, textarea {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background: #141a2a;
  border: none;
  color: white;
  border-radius: 8px;
}

button {
  margin-top: 10px;
  padding: 10px 15px;
  background: #7c5cff;
  border: none;
  color: white;
  border-radius: 8px;
}

/* responsive */
@media(max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }

  nav {
    flex-direction: column;
    gap: 10px;
  }

  .cards {
    grid-template-columns: 1fr;
  }
}
